<h1> <%= @organization %> Repos </h1>

<% @repos.each do |repo| %>
  <div id="eachrepo">
    <%= link_to repo, repo_path(:repo => repo), :data => repo, :remote => true %><br>
    <div id="appendhere"></div>
  </div>
<% end %>